#particle {
  background-image: url(../img/bg-1.png);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.inner{
  color:rgb(250,250,250);
  opacity: 1;
}

body{
  /* padding-top: 75px; */
  font-family:poppins,sans-serif;
}
.bg{
	/* background-image: url("../img/bg-1.png"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  background-color: #ffffff;
}

.formbg {
  background-color: #dad9e0d6;
  border-radius: 10px;
  border-left: 10px solid #ffac20;
  border-right: 10px solid #ffac20;
  box-shadow: 0px 0px 15px 2px #000;
  transition: 0.8s;
  margin-top: 10%;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.8s;
}
.txt {
    color: #342f4e;
    font-size: 20px;
    font-weight: 600 !important;
}
.account-text{
	color: #FFF;
	font-size: 28px;
	font-weight: 600 !important;
  margin-top: 15px;
  margin-bottom: -2px;
}
.txt1{
	color: #000000;
    font-size: 16px;
    font-weight: 600 !important;
}
.account-btn{
	background-color: #00204e;
	padding: 8px 22px !important;
	color: #9994f9;
	border-radius: 10px;
	font-size: 18px !important;
	font-weight: 600 !important;
	margin-top: 10px;
	margin-bottom: 10px !important;
}
  .circle-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
  margin: 10px;
}

.icon {
  position: absolute;
  color: #fff;
  font-size: 40px;
  top: 35px;
  left: 35px;
  transform: translate(-50%, -50%);
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
  animation: spin 2s linear infinite;
}

.success {
  background-color: #4BB543;
  border: 2.5px dashed #4BB543;
}

.error {
  background-color: #CA0B00;
  border: 2.5px dashed #CA0B00;
}

.warning {
  background-color: #F0D500;
  border: 2.5px dashed #F0D500;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .signup{
  max-width:1340px;
} */
.margin-text{
  margin-left: 22px;
    margin-top: -22px;
}
.login-support{
  color:#000;
}